/* 🎯 */
body {
  --distance-remaining: "3mi";
  background-color: #333;
  color: #999;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.coordinates {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #eee8;
  font-family: monospace;
  font-size: 12px;
  z-index: 1000;
  height: 2rem;
  width: 10rem;
  color: black;
  cursor: copy;
  line-height: 2rem;
  border: 1px solid black;
  text-align: center;
}

.north_arrow {
  --orientation: 0deg;
  rotate: var(--orientation);
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border: 3px solid white;
  border-radius: 50%;
  color: #333;
  z-index: 1000;
  background: #000c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  visibility: visible;
}

.north_arrow {
  color: #0f0;
}

.north_arrow.not-north {
  color: #f00;
}

.breadcrumb-tool {
  position: absolute;
  z-index: 1000;
  bottom: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
}

.current-location-tool {
  position: absolute;
  z-index: 1000;
  bottom: 1rem;
  left: 3.5rem;
  width: 2rem;
  height: 2rem;
}

.navigate-to-point {
  position: absolute;
  z-index: 1000;
  bottom: 1rem;
  left: 6rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}

.navigate-to-icon {
  color: red;
  font-size: 3rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.current-location-tool.active,
.breadcrumb-tool.active,
.navigate-to-point.active {
  border-color: green;
}

.navigator-compass {
  --size: 1.5rem;
  --orientation: 0deg;
  position: absolute;
  z-index: 1000;
  top: 3rem;
  right: 1rem;
  rotate: var(--orientation);
  color: #333;
  background-color: #cccc;
  border-radius: var(--size);
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  visibility: visible;
  outline: 3px solid #3333;
  cursor: pointer;
}

.navigator-compass::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%) rotate(270deg);
  content: var(--distance-remaining);
  /* using vmin to determine font size */
  font-size: 6vmin;
  white-space: nowrap;
  color: black;
  background-color: #fff8;
  border-radius: 0.5rem;
  padding: 0 0.25rem;
}

.navigator-compass.expanded {
  width: 0;
  height: 0;
  font-size: 50vmin;
  left: 50vw;
  top: 50vh;
  background: transparent;
  color: #3338;
  outline: none;
}

.current_location {
  border: 1px solid #0008;
  outline: 3px solid #fff8;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-size: 18px;
  color: blue;
  /* linear animation that smoothly fades from white to black and back */
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* animation that smoothly fades from white to black and back */
@keyframes fade {
  0% {
    outline-color: green;
  }
  25% {
    outline-color: transparent;
  }
  75% {
    outline-color: transparent;
  }
  100% {
    outline-color: green;
  }
}

.breadcrumb {
  color: #f008 !important;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid white !important;
  outline: 1px solid #f008 !important;
  border-radius: 50%;
  text-align: center;
}

.pin-icon {
  border: 1px solid black;
  outline: 1px solid white;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: red;
}
