html,
body {
  margin: 0;
  background-color: black;
}

#app {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.drop-zone {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 4rem;
  height: 4rem;
  border: 1px solid red;
  background-color: white;
}
